h1 {
    color:cornflowerblue
}

body {
    background-color: #D95550;
    display: flex;
}



.pomodoro {
    margin: 0;
    padding: 2rem;
    background: #DD6662;
    border-radius: 1rem;
}

.btn-app {
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 12px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
}

.my-counter p {
    text-align: center;
    color: white;
    font-weight: bold;
    font: 40px/1 monospace;
}

.start-btn, .stop-btn {
    padding: 10px 50px;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    color: #D95550;
}

.pomodoro-btn.active {
  background: green;
}
.short-break-btn.active {
  background: blue;
}
.long-break-btn.active {
  background-color: coral;
}

.pomodoro-indicators {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.indicator {
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.indicator.active {
  opacity: 1;
}